# Personal workflow:
# -----------------------
# no shortcuts
*.lnk
# no exported project files
*.jar
*.exe
# no unnecessary image thumbnails
*.db
# no visual studio code data
.vscode
# no pycharm community data
.idea
# no demo files
demo_files
# no exported classes and more
target
# no test settings file
settings.json
build_run_configuration_web_win.sh
