@charset "utf-8";


/* The table with all the data: */

#search-table {
	/* Space for the floating button on scolling down */
	margin-bottom: 7em;
}


/* Every button - every title: */

button {
	/* Add some padding between the outline of the button and the text */
	padding: 2px 4px;
	/* We do not want space between that button and the cell */
	margin: 0;
	/* Center the text */
	text-align: center;
	/* No underline or anything else -> we only want the text */
	text-decoration: none;
	display: inline-block;
	/* Cursor changes to hand when it's over the button */
	cursor: pointer;
	/* Add a border, make background transparent and text black */
	background-color: transparent;
	color: black;
	border: 2px solid #dddddd;
	/* Round the corners of the button so that they are round */
	border-radius: 6px;
	/* Make font a bit bigger */
	font-size: 17px;
	/* Add animation duration */
	-webkit-transition-duration: 0.4s;
	transition-duration: 0.4s;
}

/* Every button - every title on hover/touch: */

button:hover {
	border-color: white;
	background-color: white !important;
	color: #24a204 !important;
}

/* Every button - every title when the button is in an table row that is hovered/touched: */

tr:hover button {
	/* Color everything blue but the text color (= white) */
	background-color: #24a204;
	border-color: white;
	color: white;
}


/* Floating button properties: */

.floating-button {
	/* Set the fixed position of the floating button */
	position: fixed;
	bottom: 23px;
	right: 23px;
	/* Set width and height */
	width: 60px;
	height: 60px;
	/* Make it round */
	border-radius: 50px;
	/* Aglin text centered */
	text-align: center;
	/* Give it some box shadow */
	box-shadow: 0 0 4px rgba(0,0,0,.14), 0 4px 8px rgba(0,0,0,.28);
	/* Add a background image */
	/* The image is from material.io (https://material.io/icons/#ic_playlist_play - 48dp) */
	/* and was decoded with this tool from yoksel: https://codepen.io/yoksel/details/JDqvs */
	background: url(data:image/svg+xml,%3Csvg%20enable-background%3D%22new%200%200%2024%2024%22%20fill%3D%22%23FFFFFF%22%20height%3D%2248%22%20id%3D%22Layer_1%22%20version%3D%221.1%22%20viewBox%3D%220%200%2024%2024%22%20width%3D%2248%22%20x%3D%220px%22%20xml%3Aspace%3D%22preserve%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%20y%3D%220px%22%3E%0A%3Cg%20id%3D%22XMLID_1_%22%3E%0A%09%3Cpath%20d%3D%22M0%2C0h24v24H0V0z%22%20fill%3D%22none%22/%3E%0A%09%3Cg%20id%3D%22XMLID_2_%22%3E%0A%09%09%3Crect%20height%3D%222%22%20id%3D%22XMLID_3_%22%20width%3D%2212%22%20x%3D%224%22%20y%3D%2210%22/%3E%0A%09%09%3Crect%20height%3D%222%22%20id%3D%22XMLID_4_%22%20width%3D%2212%22%20x%3D%224%22%20y%3D%226%22/%3E%0A%09%09%3Crect%20height%3D%222%22%20id%3D%22XMLID_5_%22%20width%3D%228%22%20x%3D%224%22%20y%3D%2214%22/%3E%0A%09%09%3Cpolygon%20id%3D%22XMLID_6_%22%20points%3D%2214%2C14%2014%2C20%2019%2C17%20%20%20%22/%3E%0A%09%3C/g%3E%0A%3C/g%3E%0A%3C/svg%3E) no-repeat 8px;
	/* Add color and background color */
	background-color: #24a204;
	color: #FFF;
}

/* Floating button on hover/touch: */

.floating-button:hover {
	/* Change the box shadow for a depth effect */
	box-shadow: 0 0 6px rgba(0,0,0,.16), 0 6px 12px rgba(0,0,0,.32);
	/* Add animation duration */
	transition: box-shadow 150ms cubic-bezier(0,0,.2,1);
}

/* Floating button label container: */

.label-container {
	/* Set the fixed position of the text container */
	position: fixed;
	bottom: 40px;
	/* Calculate the fixed position in relation to the floating button */
	right: 93px;
	display: table;
	/* Hide the label container */
	visibility: hidden;
	/* Set a height for the lable container */
	height: 20px;
}

/* Floating button label container text: */

.label-text {
	/* Text has no background */
	background: rgba(70,70,70,.9);
	/* Text is white */
	color: white;
	/* Display the text completely in the middle */
	display: table-cell;
	vertical-align: middle;
	/* Add some padding and a border radius for viewing experience */
	padding: 6px 8px;
	border-radius: 6px;
	/* Size of the font */
	font-size: 81.25%;
	/* Add some box-shadow for a better visibility */
	box-shadow: 0 1px 2px rgba(0,0,0,.15);
}

/* Hide the label container when the floating button is not hovered/touched: */

a.floating-button + div.label-container {
	/* Hide the label container */
	visibility: hidden;
	opacity: 0;
	/* Add a animation to the visibility */
	transition: visibility 0s, opacity 0.5s ease;
}

/* Show the label container when the floating button is hovered/touched: */

a.floating-button:hover + div.label-container {
	/* Show the label container */
	visibility: visible;
	opacity: 1;
}


/* MEDIA TAGS */

/* CSS in case someone wants to print the site: */

@media print {
	/* The floating button: */
	.floating-button {
		/* Remove it from the print */
		display: none;
	}
	/* The container for the floating button text: */
	.label-container {
		/* Remove it from the print */
		display: none;
	}
	/* The title button: */
	button,
	button:hover,
	tr:hover button {
		/* Remove every space and padding */
		padding: 0;
		margin: 0;
		/* Remove button things */
		border: 0;
		border-radius: 0;
		/* Remove button things */
		font-size: 16px;
		/* Color everything black and white for printing */
		background-color: transparent;
		border-color: transparent;
		color: black !important;
	}
}
