/* The whole site: */

body {
	/* Font for the whole site */
	font-family: arial, sans-serif;
	/* Maximum site width */
	max-width: 1200px;
	/* Center the whole body */
	margin-left: auto;
	margin-right: auto;
	/* No space at the top for the whole body */
	margin-top: 0;
}


/* The table: */

table {
	/* The table is always as wide as it can get in the body */
	width: 100%;
	/* All table borders are one border - not detached */
	border-collapse: collapse;
	/* Text is left aligned */
	text-align: left;
	/* Make the border a consistent 1px thick grey line */
	border-width: 0;
	border-style: solid;
	border-color: grey;
}


/* Each row of the table in tbody: */

tbody>tr {
	/* The bottom border of each cell is light grey and 1px thick */
	border-bottom: 1pt solid #dddddd;
}


/* On hover of a table row do this with all cells of the table row: */

tr:hover td {
	/* Color everything blue but the text color (= white) */
	background-color: #24a204;
	border-color: #24a204;
	color: white;
}


/* On hover of a table row do this with all cells of the table row: */

tr:hover .button {
	/* Color everything blue but the text color (= white) */
	background-color: #24a204;
	border-color: white;
	color: white;
}


/* The table head and body cells: */

th,
td {
	/* Each cell has a 8px invisible padding */
	padding: 8px;
}

th:first-child,
td:first-child {
	/* The first cell in every row has a 16px invisible padding */
	padding-left: 16px;
}


/* The table head cells: */

th {
	/* The border has the same color like the background - dark grey */
	border-color: #616161;
	background-color: #616161;
	/* Set the text color to white because of the dark background */
	color: white;
}

th:hover {
	/* On selection make border and background darker */
	background-color: #333333;
}

th:nth-child(4),
td:nth-child(4) {
	text-align: center;
}


/* For small devices (smartphones): */

@media (max-width: 40em) {
	/* The area where the table is located */
	section {
		/* Zero space between the area and the window border */
		margin: 0;
	}
	.searchbar {
		padding-top: 1rem;
		padding-bottom: 1rem;
		margin-bottom: 0;
	}
}


/* For normal to big devices (tablets, laptops, desktop, ...): */

@media (min-width: 40em) {
	/* The area where the table is located */
	section {
		/* A bit space between the area and the window border */
		margin: 20px;
	}
	.searchbar {
		padding-top: 0.5rem;
		padding-bottom: 0.5rem;
		margin-bottom: 1rem;
	}
}


/* Searchbar properties: */

.searchbar {
	/* No space between anything but the bottom */
	margin-top: 0;
	margin-left: 0;
	margin-right: 0;
	/* Give the text at the left some space */
	padding-left: 1rem;
	padding-right: 0;
	/* Add a solid grey border */
	border: 1px solid #ccc;
	/* Calculate a width so that the field is 100% wide in the section */
	width: calc(100% - 1rem - 2px);
}


/* Text input field properties: */

input:focus {
	/* No border on focus */
	outline-width: 0;
}

.searchContainer {
	width: 100%;
	height: 50px;
	display: flex;
	background: #ffffff;
	padding-top: 1rem;
	padding-bottom: 1rem;
	align-items: center;
	position: relative;
	margin: auto;
}

.button {
	padding: 2px 4px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	margin: 4px 2px;
	-webkit-transition-duration: 0.4s;
	/* Safari */
	transition-duration: 0.4s;
	cursor: pointer;
	background-color: transparent;
	color: black;
	border: 2px solid #dddddd;
	border-radius: 6px;
}

.button:hover {
	border-color: white;
	background-color: white !important;
	color: #24a204 !important;
}

.label-container {
	position: fixed;
	bottom: 6%;
	right: calc(5% + 80px);
	display: table;
	visibility: hidden;
}

.label-text {
	color: #FFF;
	background: rgba(51, 51, 51, 0.5);
	display: table-cell;
	vertical-align: middle;
	padding: 10px;
	border-radius: 3px;
}

.float {
	position: fixed;
	width: 60px;
	height: 60px;
	bottom: 5%;
	right: 5%;
	background-color: #06C;
	color: #FFF;
	border-radius: 50px;
	text-align: center;
	box-shadow: 2px 2px 3px #999;
	-webkit-transition-duration: 0.4s;
	/* Safari */
	transition-duration: 0.4s;
}

.float:hover {
	background-color: #0080ff;
	box-shadow: 2px 2px 10px 2px #999;
}

a.float+div.label-container {
	visibility: hidden;
	opacity: 0;
	transition: visibility 0s, opacity 0.5s ease;
}

a.float:hover+div.label-container {
	visibility: visible;
	opacity: 1;
}
