@charset "utf-8";


/* A fixed overlay for a second thead and a search bar */

.fixed-search-overlay {
	/* Fix it to the top with zero space */
	position: fixed;
	top: 0;
	/* Make it whote so that you cannot see that text sliding under it */
	background-color: white;
	/* It should only be as wide as the section */
	max-width: 1200px;
	/* No space or padding */
	margin: 0;
	padding: 0;
}

/* Searchbar properties: */

.fixed-searchbar {
	/* No space left and right */
	margin-left: 0;
	margin-right: 0;
	/* Add a solid grey border */
	border: 1px solid #ccc;
	/* Font size a bit bigger than normal */
	font-size: 16px;
	/* A search icon */
	background: url(data:image/svg+xml,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22UTF-8%22%3F%3E%0A%3Csvg%20width%3D%2254.98%22%20height%3D%2254.98%22%20fill%3D%22%23000000%22%20version%3D%221.1%22%20viewBox%3D%220%200%2027.49%2027.49%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20xmlns%3Acc%3D%22http%3A//creativecommons.org/ns%23%22%20xmlns%3Adc%3D%22http%3A//purl.org/dc/elements/1.1/%22%20xmlns%3Ardf%3D%22http%3A//www.w3.org/1999/02/22-rdf-syntax-ns%23%22%3E%0A%20%3Cmetadata%3E%0A%20%20%3Crdf%3ARDF%3E%0A%20%20%20%3Ccc%3AWork%20rdf%3Aabout%3D%22%22%3E%0A%20%20%20%20%3Cdc%3Aformat%3Eimage/svg+xml%3C/dc%3Aformat%3E%0A%20%20%20%20%3Cdc%3Atype%20rdf%3Aresource%3D%22http%3A//purl.org/dc/dcmitype/StillImage%22/%3E%0A%20%20%20%20%3Cdc%3Atitle/%3E%0A%20%20%20%3C/cc%3AWork%3E%0A%20%20%3C/rdf%3ARDF%3E%0A%20%3C/metadata%3E%0A%20%3Cpath%20d%3D%22m17.5%2016h-0.79l-0.28-0.27c0.98-1.14%201.57-2.62%201.57-4.23%200-3.59-2.91-6.5-6.5-6.5s-6.5%202.91-6.5%206.5%202.91%206.5%206.5%206.5c1.61%200%203.09-0.59%204.23-1.57l0.27%200.28v0.79l5%204.99%201.49-1.49zm-6%200c-2.49%200-4.5-2.01-4.5-4.5s2.01-4.5%204.5-4.5%204.5%202.01%204.5%204.5-2.01%204.5-4.5%204.5z%22%20fill%3D%22%23616161%22/%3E%0A%20%3Cpath%20d%3D%22m2%202h24v24h-24z%22%20fill%3D%22none%22/%3E%0A%3C/svg%3E%0A) no-repeat 8px;
	/* Position the icon at the right */
	background-size: auto 100%;
}

/* Searchbar on hover/touch: */

.fixed-searchbar:focus {
	/* No border on focus */
	outline-width: 0;
	border: 1px solid #24a204;
}


/* The table with all the data: */

#search-table {
	margin-top: 6em;
}

/* The first table cell and every first normal cell: */

th:nth-child(1),
td:nth-child(1) {
	/* A general width for the number */
	width: 15%;
}

/* The second table cell and every second normal cell: */

th:nth-child(2),
td:nth-child(2) {
	/* A general width for the artist string */
	width: 35%;
}

/* The third table cell and every third normal cell: */

th:nth-child(3),
td:nth-child(3) {
	/* A general width for the title string */
	width: 50%;
}

/* The table head cells on hover/touch: */

th:hover {
	/* On selection make border and background darker */
	background-color: #333333;
	/* Notify with another cursor that this is interactive */
	cursor: pointer;
}

/* On hover of a table row do this with all cells of the table row: */

tr:hover td {
	/* Color everything green */
	background-color: #24a204;
	border-color: #24a204;
	/* If we color everything we need to make the text white */
	color: white;
}

/* A second thead that is only there for printing */

.printhead {
	/* Make it invisible during normal use */
	display: none;
}


/* MEDIA TAGS */

/* CSS for small devices (smartphones): */

@media screen and (max-width: 50em) {
	/* The fixed overlay: */
	.fixed-search-overlay {
		/* Go with the maximal width */
		width: 100%;
	}
	/* The searchbar that is fixed on the search overlay: */
	.fixed-searchbar {
		margin-top: 0;
		padding-top: 1.2rem;
		padding-bottom: 1.2rem;
		margin-bottom: 0;
		padding-left: 5rem;
		width: calc(100% - 1rem - 2px);
	}
	/* The table header that is fixed on the search overlay */
	.fixed-header {
		/* No space at the top */
		margin-top: 0;
	}

}

/* CSS for normal to big devices (tablets, laptops, desktop, ...): */

@media screen and (min-width: 50em) {
	/* The fixed overlay: */
	.fixed-search-overlay {
		/* Go not with the maximal width - with -4rem as wide as the data table */
		width: calc(100% - 4rem);
	}
	/* The searchbar that is fixed on the search overlay: */
	.fixed-searchbar {
		/* A bit space at the top */
		margin-top: 1rem;
		/* Make the the input field a little higher */
		padding-top: 0.8rem;
		padding-bottom: 0.8rem;
		/* Increase the (icon) space because it's (the icon) bigger */
		padding-left: 4rem;
		/* Calculate a width that is as big as the data table */
		width: calc(100% - 4rem - 2px);
	}
	/* The table header that is fixed on the search overlay */
	.fixed-header {
		/* A bit space at the top */
		margin-top: 1rem;
	}
}

/* CSS in case someone wants to print the site: */

@media print {
	/* The fixed overlay: */
	.fixed-search-overlay {
		/* Remove the fixed overlay - we only want the data table */
		display: none;
	}
	/* A second thead that is only there for printing */
	.printhead {
		/* Display it now */
		display: table-header-group;
	}
	/* The data table */
	#search-table {
		/*  Remove the space to the top */
		margin-top: 0;
	}
	/* The table head row, ... everything so that the table is completly print friendly: */
	thead > tr:hover,
	thead > tr,
	tbody > tr > td:hover,
	tbody > tr > td,
	tbody > tr:hover,
	tbody > tr,
	thead > tr > th:hover,
	thead > tr > th,
	th:hover,
	tr:hover td {
		/* Every cell has a translucent background */
		background-color: transparent;
		/* The bottom border of each cell is black */
		border-bottom: 1pt solid black;
		/* The text is black */
		color: black;
		/* Every border is black */
		border-color: black;
	}
}
